<div class="container">
  <br>
  <h2> Article Editor </h2>
  
  <form #editForm="ngForm">
	    <div class="form-group">
	      <label for="editTitle">Title</label>
	      
	      <input type="text" id="editTitle" name="editTitle" #editTitle="ngModel"  class="all-forms" 
	      			 [(ngModel)]="article.title"
	      			 required [ngClass]="editTitle.touched ? (editTitle.valid && !editTitle['pristine'] ? '' : 'red-bg') : ''">
	      <br><br>
	    </div>

	    <div class="form-group">
	      <label for="editSubtitle">Subtitle</label>
	      <input type="text" id="editSubtitle" name="editSubtitle" #editSubtitle="ngModel" [(ngModel)]="article.subtitle" 
	      class="all-forms">
	      <br><br>
	    </div>

	    <div class="form-group">
	      <label for="editCategory">Category</label>
	      <select [(ngModel)]="article.category" class="all-forms" name="editCategory">
			  <option value="National">National</option>
			  <option value="Economy">Economy</option>
			  <option value="Sports">Sports</option>
			  <option value="Technology">Technology</option>
		  </select>

	      <br><br>
	    </div>

	    <div class="form-group">
	      <label for="editAbstract">Abstract</label>
	      <input type="text" id="editAbstract" name="editAbstract" #editAbstract="ngModel" class="all-forms" 
	      			 [(ngModel)]="article.abstract"
	      			 required [ngClass]="editAbstract.touched ? (editAbstract.valid && !editAbstract['pristine'] ? '' : 'red-bg') : ''">
	    <br><br>
	    </div>

	    <div class="form-group">
	      <label for="editBody">Body</label>
	      <input type="text" class="body-form" id="editBody" 
	      name="editBody" #editBody="ngModel" [(ngModel)]="article.body">
	      <br><br>
	      <!-- <p *ngIf="!editTitle.valid && !editTitle['pristine']" class="red-font"> "From:" needs to be a mail!</p> -->
	    </div>
	    <div *ngIf="submitDone" class="alert alert-success">Change Done!</div>

	     <div class="form-group">
		  <label for="image">Upload New Image</label>
		  <input type="file" id="image" name="image" (change)="onFileSelected($event)" accept="image/*">
		</div>

	    <button type="submit" class="form-button" (click)="editArticle()" [disabled]="editForm.invalid">Send</button>
  
  </form>

  <br>
  <button class="form-button" [routerLink]="['/home/']">Go Back</button>
  <br>  
</div>
