<div class="container">
  <h2> Add-Article-Form </h2>
  
  <form #addForm="ngForm">
	    <div class="form-group">
	      <label for="addTitle">Title</label>
	      <input type="text" id="addTitle" name="addTitle" #addTitle="ngModel"  
	      			 [(ngModel)]="article.title"
	      			 required pattern="^.{10,50}$"
	      			 [ngClass]="addTitle.touched ? (addTitle.valid && !addTitle['pristine'] ? '' : 'red-bg') : ''">
	      <br><br>
	      <!-- <p *ngIf="!addTitle.valid && !addTitle['pristine']" class="red-font"> "From:" needs to be a mail!</p> -->
	    </div>

	    <div class="form-group">
	      <label for="addSubtitle">Subtitle</label>
	      <input type="text" id="addSubtitle" name="addSubtitle" #addSubtitle="ngModel"  
	      			 [(ngModel)]="article.subtitle"
	      			 required pattern="^.{10,50}$"
	      			 [ngClass]="addSubtitle.touched ? (addSubtitle.valid && !addSubtitle['pristine'] ? '' : 'red-bg') : ''">
	      <br><br>
	      <!-- <p *ngIf="!addSubtitle.valid && !addSubtitle['pristine']" class="red-font"> "From:" needs to be a mail!</p> -->
	    </div>

	    <div class="form-group">
	      <label for="addCategory">Category</label>
	      <input type="text" id="addCategory" name="addCategory" #addCategory="ngModel"  
	      			 [(ngModel)]="article.category"
	      			 required pattern="^.{10,50}$"
	      			 [ngClass]="addCategory.touched ? (addCategory.valid && !addCategory['pristine'] ? '' : 'red-bg') : ''">
	      <br><br>
	      <!-- <p *ngIf="!addCategory.valid && !addCategory['pristine']" class="red-font"> "From:" needs to be a mail!</p> -->
	    </div>

	    <div class="form-group">
	      <label for="addAbstract">Abstract</label>
	      <input type="text" id="Abstract" name="Abstract" #addAbstract="ngModel"  
	      			 [(ngModel)]="article.abstract"
	      			 required pattern="^.{10,50}$"
	      			 [ngClass]="addAbstract.touched ? (addAbstract.valid && !addAbstract['pristine'] ? '' : 'red-bg') : ''">
	      <br><br>
	      <!-- <p *ngIf="!Abstract.valid && !Abstract['pristine']" class="red-font"> "From:" needs to be a mail!</p> -->
	    </div>

	    <div class="form-group">
	      <label for="addBody">Body</label>
	      <input type="text" id="addBody" name="addBody" #addBody="ngModel"  
	      			 [(ngModel)]="article.body"
	      			 required pattern="^.{10,50}$"
	      			 [ngClass]="addBody.touched ? (addBody.valid && !addBody['pristine'] ? '' : 'red-bg') : ''">
	      <br><br>
	      <!-- <p *ngIf="!addTitle.valid && !addTitle['pristine']" class="red-font"> "From:" needs to be a mail!</p> -->
	    </div>

	    <button type="submit" class="btn btn-primary" (click)="addArticle()" [disabled]="addForm.invalid">Send</button>
	
    <!-- <button type="submit" class="btn btn-primary" (click)="sendEmail()" [disabled]="addForm.invalid">Send</button>
    <br>
    <br>
    <button type="submit" class="btn btn-primary" (click)="clear()">Reset</button>
    <br>
    <p *ngIf="showMessage" class="red-font"> uh oh!</p>
    <p *ngIf="showMessage" class="red-font"> {{this.email.from.valid}} </p>
    <p *ngIf="showMessage" class="red-font"> {{this.email.to.valid}} </p>
    <p *ngIf="showMessage" class="red-font"> {{this.email.subject.valid}} </p>
    <p *ngIf="showMessage" class="red-font"> {{this.email.body.valid}} </p>
    <p *ngIf="showMessage" class="red-font"> {{this.email.from.valid && this.email.to.valid && this.email.body.valid}} </p>

 -->
  </form>
  <br>
  <br>
  
</div>
