<div class="container">
  <br>
  <h2> Create an Article </h2>
  
  <form #addForm="ngForm">
	    <div class="form-group">
	      <label for="addTitle">Title</label>
	      
	      <input type="text" id="addTitle" name="addTitle" #addTitle="ngModel"  class="all-forms"
	      			 [(ngModel)]="article.title"
	      			 required [ngClass]="addTitle.touched ? (addTitle.valid && !addTitle['pristine'] ? '' : 'red-bg') : ''">
	      <br><br>
	    </div>

	    <div class="form-group">
	      <label for="addSubtitle">Subtitle</label>
	      
	      <input type="text" id="addSubtitle" name="addSubtitle" #addSubtitle="ngModel" [(ngModel)]="article.subtitle" class="all-forms">
	      <br><br>
	    </div>

	    <div class="form-group">
	      <label for="addCategory">Category</label>
	      
		  <select [(ngModel)]="article.category" name="addCategory" class="all-forms">
			  <option value="National">National</option>
			  <option value="Economy">Economy</option>
			  <option value="Sports">Sports</option>
			  <option value="Technology">Technology</option>
		  </select>

	      <br><br>
	    </div>

	    <div class="form-group">
	      <label for="addAbstract">Abstract</label>
	      
	      <input type="text" id="Abstract" name="Abstract" #addAbstract="ngModel"  class="all-forms"
	      			 [(ngModel)]="article.abstract"
	      			 required [ngClass]="addAbstract.touched ? (addAbstract.valid && !addAbstract['pristine'] ? '' : 'red-bg') : ''">
	    <br><br>
	    </div>

	    <div class="form-group">
	      <label for="addBody">Body</label>
	      
	      <input type="text" id="addBody" name="addBody" #addBody="ngModel" [(ngModel)]="article.body" class="body-form">
	      <br><br>
	      <!-- <p *ngIf="!addTitle.valid && !addTitle['pristine']" class="red-font"> "From:" needs to be a mail!</p> -->
	    </div>

	    <div *ngIf="submitDone" class="alert alert-success">Change Done!</div>

	    <div class="form-group">
		  <label for="image">Upload Image</label>
		  <input type="file" id="image" name="image" (change)="onFileSelected($event)" accept="image/*">
		</div>

	    <button type="submit" class="form-button" (click)="addArticle()" [disabled]="addForm.invalid">Send</button>
	
  </form>
  
  <br>
  <button class="form-button" [routerLink]="['/home/']">Go Back</button>
  <br>
  
</div>
