img {
    
    width:50vw;
    display:block;
}

div{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Adjust to desired height */
    flex-direction:column;
  
}