

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/12.0.0/angular-material.min.css"> -->

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

  <style>
    /* Custom CSS for hiding the navbar links on small screens */
    @media (max-width: 600px) {
      .navbar-links {
        display: none;
      }

      .navbar-toggler {
        display: block;
      }
    }

    /* Style for the hamburger menu icon */
    .navbar-toggler-icon {
      color: #000;
    }
  </style>



        <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <h1 class="header-link chomsky">EIT Newspaper</h1>
        <h2 class="sub-header-link chomsky">A newspaper by the Technical University of Madrid</h2>
        <div class="topnav" id="myTopnav">
          
          <a class="nav-item" (click)="setCategoryFilter('all')">All</a>
          <a class="nav-item" (click)="setCategoryFilter('National')">National</a>
          <a class="nav-item" (click)="setCategoryFilter('Economy')">Economy</a>
          <a class="nav-item" (click)="setCategoryFilter('Sports')">Sports</a>
          <a class="nav-item" (click)="setCategoryFilter('Technology')">Technology</a>
          <a class="noHover"><app-login-form></app-login-form></a>
          <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        
            



            <div class="container">
            <br>
            <!-- Search Bar -->
            <div class="row">
                <div class="col-md-9">
                <div class="search-container">
                    <input type="text" placeholder="Search..." class="search-input" [(ngModel)]="term">
                </div>
                </div>
                <div class="col-md-3">
                <button mat-button class="search-button">Search</button>
                <button *ngIf="isLoggedIn" class="btn btn-dark" [routerLink]="['/create/']">Create Article</button>
                </div>
            </div>
        <br>
        <br>

        <!--list of articles-->
            <div class="container">
                <div class="row">
                    <div *ngFor="let article of filteredArticles | textfilter:term" class="col-sm" >
                      
                        <mat-card class="example-card">
                            <mat-card-header>
                            
                            <mat-card-title class="nav-item" (click)="openArticle(article)">{{article.title}}</mat-card-title>
                            <mat-card-subtitle>{{article.subtitle}}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image class="nav-item" (click)="openArticle(article)" [src]="'data:' + article.image_media_type + ';base64,' +
                            article.image_data ">
                            <mat-card-content>
                            <p innerHTML="article.abstract">
                                
                            </p>
                            </mat-card-content>
                            <mat-card-actions class="button-container">
                              <button mat-button (click)="openArticle(article)" class="read-button">Read</button>
                              <button *ngIf="isLoggedIn" mat-button (click)="edit(article.id)" class="edit-button">Edit</button>
                              <button *ngIf="isLoggedIn" mat-button (click)="removeArticle(article)" class="remove-button">Remove</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
